Classification of tasks using EEG data <br>
Using TensorFlow <br>
https://www.kaggle.com/wpncrh/classifying-tasks-using-eeg-data-w-tensorflow-nn

In [1]:
import json
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('eeg-data.csv')

In [3]:
df['eeg_power'] = df.eeg_power.map(json.loads)

In [4]:
df.head(2)

,Unnamed: 0,id,indra_time,browser_latency,reading_time,attention_esense,meditation_esense,eeg_power,raw_values,signal_quality,createdAt,updatedAt,label
0,3730,12,2015-05-09 23:13:42.281,1461,2015-05-09 16:13:40.954,0,0,"[944412.0, 111373.0, 52404.0, 28390.0, 3237.0,...","[-203.0, -202.0, -196.0, -185.0, -163.0, -137....",200,2015-05-09 23:13:39.550,2015-05-09 23:13:39.549+00,unlabeled
1,3732,12,2015-05-09 23:13:43.186,1461,2015-05-09 16:13:41.964,0,0,"[1793049.0, 89551.0, 3896.0, 21727.0, 9301.0, ...","[104.0, 134.0, 128.0, 121.0, 145.0, 151.0, 123...",200,2015-05-09 23:13:40.559,2015-05-09 23:13:40.559+00,unlabeled

In [5]:
df.describe()

,Unnamed: 0,id,attention_esense,meditation_esense,signal_quality
count,30013.000000,30013.000000,30013.000000,30013.000000,30013.000000
mean,15010.952521,13.685570,40.284710,46.638723,25.871856
std,8666.911131,8.479506,24.446432,26.153089,64.636640
min,0.000000,1.000000,0.000000,0.000000,0.000000
25%,7506.000000,6.000000,24.000000,34.000000,0.000000
50%,15010.000000,13.000000,43.000000,50.000000,0.000000
75%,22517.000000,20.000000,57.000000,64.000000,0.000000
max,30021.000000,30.000000,100.000000,100.000000,200.000000

In [6]:
df = df.drop('Unnamed: 0', 1)
df = df.drop('indra_time', 1)
df = df.drop('browser_latency', 1)
df = df.drop('reading_time', 1)
df = df.drop('attention_esense', 1)
df = df.drop('meditation_esense', 1)
df = df.drop('raw_values', 1)
df = df.drop('signal_quality', 1)
df = df.drop('createdAt', 1)
df = df.drop('updatedAt', 1)

In [7]:
df.head()

   id                                          eeg_power      label
0  12  [944412.0, 111373.0, 52404.0, 28390.0, 3237.0,...  unlabeled
1  12  [1793049.0, 89551.0, 3896.0, 21727.0, 9301.0, ...  unlabeled
2  12  [400192.0, 640624.0, 153087.0, 69733.0, 98854....  unlabeled
3  12  [681192.0, 138630.0, 67891.0, 26459.0, 592240....  unlabeled
4  12  [268406.0, 197772.0, 190654.0, 266433.0, 91683...  unlabeled

In [8]:
len(df)

30013

In [9]:
# seperate eeg power into multiple columns
to_series = pd.Series(df['eeg_power'])
eeg_features = pd.DataFrame(to_series.tolist())
df_eeg = pd.concat([df, eeg_features], axis=1)

In [10]:
df_eeg = df_eeg.drop('eeg_power', 1)

In [11]:
df_eeg.head()

,id,label,0,1,2,3,4,5,6,7
0,12,unlabeled,944412.0,111373.0,52404.0,28390.0,3237.0,32728.0,4845.0,2036.0
1,12,unlabeled,1793049.0,89551.0,3896.0,21727.0,9301.0,16096.0,3496.0,643.0
2,12,unlabeled,400192.0,640624.0,153087.0,69733.0,98854.0,199537.0,66993.0,51772.0
3,12,unlabeled,681192.0,138630.0,67891.0,26459.0,592240.0,171435.0,164399.0,41765.0
4,12,unlabeled,268406.0,197772.0,190654.0,266433.0,91683.0,200452.0,107585.0,57841.0

In [12]:
df_eeg['label'].value_counts()

unlabeled                       20054
relax                             934
music                             932
video-ver2                        481
thinkOfItems-ver2                 481
colorInstruction2                 469
video-ver1                        457
thinkOfItems-ver1                 449
thinkOfItemsInstruction-ver2      321
colorInstruction1                 316
thinkOfItemsInstruction-ver1      303
videoInstruction                  161
mathInstruction                   161
relaxInstruction                  158
musicInstruction                  152
blinkInstruction                  132
colorRound1-3                     128
colorRound1-4                     127
colorRound1-2                     125
colorRound1-1                     125
colorRound1-5                     124
colorRound1-6                     122
readyRound5                        96
colorRound5-3                      96
readyRound2                        95
readyRound4                        95
colorRound2-4                      95
colorRound5-5                      94
readyRound1                        94
colorRound2-1                      94
                                ...
colorRound5-1                      90
math10                             84
math2                              83
math8                              83
math4                              79
math6                              79
math12                             78
math11                             78
math3                              76
math7                              76
math5                              75
math9                              73
math1                              72
colorRound3-4                      63
colorRound3-2                      63
colorRound3-5                      61
colorRound3-1                      61
colorRound3-3                      61
blink5                             53
blink1                             51
blink3                             48
colorRound3-6                      48
blink2                             44
blink4                             43
colorRound4-5                      32
colorRound4-6                      32
colorRound4-3                      32
colorRound4-2                      30
colorRound4-4                      29
colorRound4-1                      29
Name: label, Length: 68, dtype: int64

In [13]:
df_eeg.dtypes

id         int64
label     object
0        float64
1        float64
2        float64
3        float64
4        float64
5        float64
6        float64
7        float64
dtype: object

In [14]:
# df_eeg['label'] = df_eeg["label"].astype('category')
# df_eeg.dtypes

In [15]:
# df_eeg['label'].value_counts()

In [16]:
# clean labels
def clean_labels(dd):
    dd.loc[dd.label == 'math1', 'label'] = "math"
    dd.loc[dd.label == 'math2', 'label'] = "math"
    dd.loc[dd.label == 'math3', 'label'] = "math"
    dd.loc[dd.label == 'math4', 'label'] = "math"
    dd.loc[dd.label == 'math5', 'label'] = "math"
    dd.loc[dd.label == 'math6', 'label'] = "math"
    dd.loc[dd.label == 'math7', 'label'] = "math"
    dd.loc[dd.label == 'math8', 'label'] = "math"
    dd.loc[dd.label == 'math9', 'label'] = "math"
    dd.loc[dd.label == 'math10', 'label'] = "math"
    dd.loc[dd.label == 'math11', 'label'] = "math"
    dd.loc[dd.label == 'math12', 'label'] = "math"
    dd.loc[dd.label == 'colorRound1-1', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound1-2', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound1-3', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound1-4', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound1-5', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound1-6', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound2-1', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound2-2', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound2-3', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound2-4', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound2-5', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound2-6', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound3-1', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound3-2', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound3-3', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound3-4', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound3-5', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound3-6', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound4-1', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound4-2', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound4-3', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound4-4', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound4-5', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound4-6', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound5-1', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound5-2', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound5-3', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound5-4', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound5-5', 'label'] = "colors"
    dd.loc[dd.label == 'colorRound5-6', 'label'] = "colors"
    dd.loc[dd.label == 'readyRound1', 'label'] = "ready"
    dd.loc[dd.label == 'readyRound2', 'label'] = "ready"
    dd.loc[dd.label == 'readyRound3', 'label'] = "ready"
    dd.loc[dd.label == 'readyRound4', 'label'] = "ready"
    dd.loc[dd.label == 'readyRound5', 'label'] = "ready"
    dd.loc[dd.label == 'video-ver1', 'label'] = "video"
    dd.loc[dd.label == 'video-ver2', 'label'] = "video"
    dd.loc[dd.label == 'blink1', 'label'] = "blink"
    dd.loc[dd.label == 'blink2', 'label'] = "blink"
    dd.loc[dd.label == 'blink3', 'label'] = "blink"
    dd.loc[dd.label == 'blink4', 'label'] = "blink"
    dd.loc[dd.label == 'blink5', 'label'] = "blink"
    dd.loc[dd.label == 'thinkOfItemsInstruction-ver1', 'label'] = "instruction"
    dd.loc[dd.label == 'thinkOfItemsInstruction-ver2', 'label'] = "instruction"
    dd.loc[dd.label == 'thinkOfItems-ver1', 'label'] = "instruction"
    dd.loc[dd.label == 'thinkOfItems-ver2', 'label'] = "instruction"
    dd.loc[dd.label == 'colorInstruction2', 'label'] = "instruction"
    dd.loc[dd.label == 'colorInstruction1', 'label'] = "instruction"
    dd.loc[dd.label == 'colorInstruction2', 'label'] = "instruction"
    dd.loc[dd.label == 'musicInstruction', 'label'] = "instruction"
    dd.loc[dd.label == 'videoInstruction', 'label'] = "instruction"
    dd.loc[dd.label == 'mathInstruction', 'label'] = "instruction"
    dd.loc[dd.label == 'relaxInstruction', 'label'] = "instruction"
    dd.loc[dd.label == 'blinkInstruction', 'label'] = "instruction"
    return dd

In [17]:
clean_labels_df = clean_labels(df_eeg)

In [18]:
clean_labels_df.label.value_counts()

unlabeled      20054
instruction     3103
colors          2405
video            938
math             936
relax            934
music            932
ready            472
blink            239
Name: label, dtype: int64

In [19]:
# drop unlabeled and other unwanted labels. 
def drop_useless_labels(df):
    df = df[df.label != 'unlabeled']
    df = df[df.label != 'instruction']
    df = df[df.label != 'blink']
    df = df[df.label != 'ready']
    df = df[df.label != 'colors']
    df = df[df.label != 'music']
    df = df[df.label != 'video']
    return df

In [20]:
df_interest = drop_useless_labels(clean_labels_df)

In [21]:
df_interest['label'].value_counts()

math     936
relax    934
Name: label, dtype: int64

In [22]:
df_interest.head()

,id,label,0,1,2,3,4,5,6,7
13274,7,relax,5044.0,10156.0,3281.0,10403.0,12393.0,10266.0,1949.0,2937.0
13275,11,relax,548188.0,67192.0,20298.0,4142.0,30576.0,18237.0,5603.0,4783.0
13276,5,relax,449571.0,83093.0,15379.0,34656.0,6750.0,10348.0,5315.0,2585.0
13277,1,relax,85497.0,20547.0,2723.0,3270.0,2522.0,2209.0,449.0,393.0
13278,13,relax,72768.0,44080.0,25974.0,16079.0,12995.0,27132.0,33264.0,9121.0

In [23]:
df_interest.shape

(1870, 10)

In [24]:
df_interest.rename(columns = {0: '1'})

,id,label,1,1,2,3,4,5,6,7
13274,7,relax,5044.0,10156.0,3281.0,10403.0,12393.0,10266.0,1949.0,2937.0
13275,11,relax,548188.0,67192.0,20298.0,4142.0,30576.0,18237.0,5603.0,4783.0
13276,5,relax,449571.0,83093.0,15379.0,34656.0,6750.0,10348.0,5315.0,2585.0
13277,1,relax,85497.0,20547.0,2723.0,3270.0,2522.0,2209.0,449.0,393.0
13278,13,relax,72768.0,44080.0,25974.0,16079.0,12995.0,27132.0,33264.0,9121.0
13279,14,relax,10171.0,13086.0,13814.0,9290.0,9794.0,8282.0,9724.0,6925.0
13280,4,relax,486066.0,154967.0,11921.0,16636.0,13902.0,9087.0,10355.0,4436.0
13281,6,relax,769537.0,132633.0,8882.0,104962.0,31441.0,11220.0,11482.0,5555.0
13282,2,relax,67919.0,13799.0,27658.0,18156.0,19295.0,6873.0,6570.0,4252.0
13283,12,relax,1413027.0,38537.0,45687.0,17712.0,55097.0,31452.0,13794.0,9813.0
13284,10,relax,44561.0,21042.0,15023.0,15768.0,4615.0,13406.0,9491.0,4905.0
13285,8,relax,1158761.0,122862.0,31168.0,68083.0,46057.0,15456.0,9768.0,3260.0
13286,11,relax,533939.0,129744.0,5669.0,16895.0,12562.0,17429.0,5312.0,4661.0
13287,7,relax,362618.0,6879.0,3139.0,7392.0,1850.0,2265.0,1715.0,727.0
13288,9,relax,57823.0,17587.0,8450.0,4158.0,66483.0,50014.0,36510.0,13319.0
13289,15,relax,114842.0,5492.0,3220.0,7979.0,2550.0,2102.0,1446.0,1707.0
13290,5,relax,256676.0,13131.0,5119.0,4668.0,3976.0,2913.0,1200.0,1006.0
13291,1,relax,50036.0,57439.0,17659.0,5816.0,10021.0,2917.0,1030.0,1264.0
13292,13,relax,524036.0,651629.0,78142.0,53173.0,16967.0,9229.0,13239.0,7372.0
13293,14,relax,36049.0,45837.0,9354.0,4810.0,2697.0,5039.0,2158.0,1785.0
13294,3,relax,70518.0,61188.0,4704.0,5631.0,1817.0,4099.0,591.0,576.0
13295,4,relax,2108037.0,260431.0,32049.0,73947.0,23506.0,40892.0,22724.0,5842.0
13296,2,relax,44417.0,46917.0,11425.0,2721.0,15792.0,4469.0,5865.0,5121.0
13297,12,relax,124076.0,156117.0,10525.0,36482.0,12262.0,6948.0,6309.0,6086.0
13298,8,relax,389639.0,48498.0,13741.0,10362.0,12736.0,15956.0,3565.0,3610.0
13299,6,relax,1937138.0,315179.0,127414.0,23402.0,15885.0,12794.0,9549.0,4755.0
13300,11,relax,370551.0,22017.0,13429.0,12547.0,16785.0,12479.0,4847.0,5042.0
13301,9,relax,2066857.0,591154.0,276277.0,123774.0,24472.0,30096.0,44684.0,21258.0
13302,10,relax,28542.0,35924.0,4893.0,12270.0,2864.0,17402.0,6910.0,4545.0
13303,15,relax,88317.0,110556.0,21737.0,16414.0,16647.0,13076.0,6475.0,1352.0
...,...,...,...,...,...,...,...,...,...,...
23803,21,math,5030.0,16243.0,5452.0,5791.0,6344.0,3676.0,1055.0,1345.0
23804,19,math,76974.0,41981.0,23746.0,5869.0,8155.0,3866.0,4151.0,2683.0
23805,18,math,92799.0,30460.0,13784.0,9121.0,3902.0,4586.0,2306.0,1451.0
23806,28,math,107461.0,28039.0,3184.0,826.0,4778.0,5974.0,2368.0,1326.0
23807,20,math,82318.0,47196.0,6056.0,2574.0,3760.0,5763.0,3468.0,5733.0
23808,23,math,5809.0,30638.0,2488.0,17650.0,3804.0,5855.0,6989.0,2959.0
23809,16,math,14314.0,8892.0,2854.0,8803.0,11757.0,6009.0,2309.0,999.0
23810,29,math,10433.0,2603.0,9457.0,22715.0,8241.0,7012.0,1661.0,1680.0
23811,29,math,10433.0,2603.0,9457.0,22715.0,8241.0,7012.0,1661.0,1680.0
23812,30,math,231354.0,9326.0,2000.0,3383.0,3322.0,6423.0,8066.0,6755.0
23813,24,math,102367.0,47288.0,42012.0,3256.0,3681.0,6421.0,6028.0,6622.0
23814,25,math,81708.0,28490.0,2684.0,3564.0,1764.0,845.0,999.0,740.0
23815,26,math,154962.0,7700.0,7096.0,8938.0,17960.0,12495.0,6171.0,6567.0
23816,27,math,3530.0,6675.0,7446.0,3403.0,4497.0,68995.0,30822.0,10568.0
23817,17,math,19831.0,11994.0,5268.0,16162.0,8029.0,11039.0,2859.0,1268.0
23818,19,math,502432.0,77504.0,8333.0,42785.0,13435.0,4954.0,2778.0,2457.0
23819,28,math,91699.0,18205.0,6578.0,3539.0,2962.0,5637.0,1625.0,959.0
23820,22,math,1278018.0,141089.0,50563.0,91967.0,16940.0,34854.0,14580.0,11954.0
23821,21,math,44078.0,34738.0,2600.0,4490.0,865.0,2089.0,888.0,182.0
23822,20,math,5819.0,14858.0,4745.0,2515.0,4346.0,5132.0,7381.0,5764.0
23823,23,math,128770.0,28939.0,3234.0,6921.0,2549.0,4999.0,1393.0,678.0
23824,18,math,475078.0,11709.0,4597.0,3541.0,3291.0,5887.0,4716.0,2079.0
23825,29,math,2219.0,21780.0,5045.0,10613.0,4743.0,2983.0,872.0,2117.0
23826,29,math,2219.0,21780.0,5045.0,10613.0,4743.0,2983.0,872.0,2117.0
23827,30,math,11425.0,17573.0,3405.0,2698.0,16331.0,9437.0,23430.0,5052.0
23828,24,math,2159489.0,136563.0,55872.0,9777.0,11819.0,6453.0,5710.0,5303.0
23829,25,math,29164.0,13290.0,11052.0,6885.0,3829.0,4894.0,2404.0,1514.0
23830,16,math,35542.0,32228.0,1920.0,2826.0,3165.0,1627.0,792.0,249.0
23831,27,math,577033.0,21286.0,11050.0,6076.0,10917.0,49800.0,44177.0,9853.0
23832,26,math,17292.0,35218.0,6800.0,15515.0,8642.0,10611.0,13888.0,8351.0

In [25]:
'''df_interest.rename(columns = {0: '1',
                              1: '2',
                              2: '3',
                              3: '4',
                              4: '5',
                              5: '6',
                              6: '7',
                              7: '8'
                             })
df_interest.head()'''

"df_interest.rename(columns = {0: '1',\n                              1: '2',\n                              2: '3',\n                              3: '4',\n                              4: '5',\n                              5: '6',\n                              6: '7',\n                              7: '8'\n                             })\ndf_interest.head()"

In [26]:
# binarize label: math = 1, relax = 0
df_interest['binary_label'] = (df_interest['label'] == 'math')*1
df_interest.head(3)

,id,label,0,1,2,3,4,5,6,7,binary_label
13274,7,relax,5044.0,10156.0,3281.0,10403.0,12393.0,10266.0,1949.0,2937.0,0
13275,11,relax,548188.0,67192.0,20298.0,4142.0,30576.0,18237.0,5603.0,4783.0,0
13276,5,relax,449571.0,83093.0,15379.0,34656.0,6750.0,10348.0,5315.0,2585.0,0

In [27]:
# reset index
df_interest = df_interest.reset_index()
df_interest = df_interest.drop('index', 1)

In [28]:
df_interest.head(3)

,id,label,0,1,2,3,4,5,6,7,binary_label
0,7,relax,5044.0,10156.0,3281.0,10403.0,12393.0,10266.0,1949.0,2937.0,0
1,11,relax,548188.0,67192.0,20298.0,4142.0,30576.0,18237.0,5603.0,4783.0,0
2,5,relax,449571.0,83093.0,15379.0,34656.0,6750.0,10348.0,5315.0,2585.0,0

In [29]:
# store target label in y
y = df_interest[['binary_label']].copy()

In [30]:
y.head()

   binary_label
0             0
1             0
2             0
3             0
4             0

In [31]:
eeg_signal_df = df_interest.drop('id', 1)
eeg_signal_df = eeg_signal_df.drop('label', 1)
eeg_signal_df = eeg_signal_df.drop('binary_label', 1)

In [32]:
eeg_signal_df.head()

          0        1        2        3        4        5        6       7
0    5044.0  10156.0   3281.0  10403.0  12393.0  10266.0   1949.0  2937.0
1  548188.0  67192.0  20298.0   4142.0  30576.0  18237.0   5603.0  4783.0
2  449571.0  83093.0  15379.0  34656.0   6750.0  10348.0   5315.0  2585.0
3   85497.0  20547.0   2723.0   3270.0   2522.0   2209.0    449.0   393.0
4   72768.0  44080.0  25974.0  16079.0  12995.0  27132.0  33264.0  9121.0

In [33]:
x_array = StandardScaler().fit_transform(eeg_signal_df)

In [34]:
x = pd.DataFrame(x_array)
x.head()

,0,1,2,3,4,5,6,7
0,-0.550709,-0.477853,-0.552418,-0.379412,0.006291,-0.076726,-0.443636,-0.288593
1,0.661348,0.051942,-0.154057,-0.573634,1.165130,0.577499,-0.101136,-0.003616
2,0.441279,0.199643,-0.269209,0.372939,-0.353349,-0.069995,-0.128131,-0.342933
3,-0.371174,-0.381333,-0.565481,-0.600685,-0.622808,-0.738009,-0.584235,-0.681324
4,-0.399579,-0.162740,-0.021184,-0.203337,0.044658,1.307562,2.491613,0.666064

In [35]:
# split eeg_signal_df and y into train and test data
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                                                    test_size=0.33,
                                                    random_state=42)

In [36]:
y_train.describe()

       binary_label
count   1252.000000
mean       0.497604
std        0.500194
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [37]:
# define classifier
classifier = DecisionTreeClassifier(max_leaf_nodes=50, random_state=42)

In [38]:
# fit classifier
classifier.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=50,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [39]:
# make predictions to test data
preds = classifier.predict(x_test)

In [40]:
# measure accuracy
accuracy_score(y_true=y_test, y_pred=preds)

0.5550161812297735